@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">The Disaster Allievation Foundation (ST10104487)</h3>

    <br />
    <p>The Disaster Alleviation Foundation, a non-profit organization, seeks a system to track donations 
        and aid dispatched for disaster relief. The aim is to efficiently manage and allocate resources 
        for practical assistance during disasters.</p>

        <br/>
    <p>Available Money: @ViewBag.AvailableMoney</p>
</div>

