@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">The Disaster Allievation Foundation (ST10104487)</h3>

    <br />
    <p>The Disaster Alleviation Foundation, a non-profit organization, seeks a system to track donations 
        and aid dispatched for disaster relief. The aim is to efficiently manage and allocate resources 
        for practical assistance during disasters.</p>

        <br/>
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Available Money: <span class="badge bg-primary">@ViewBag.AvailableMoney</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

