@model Disaster_Allievation_Foundation_.Models.monetary_donations

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Monetary Donations</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
            <div class="form-check form-check-inline">
                <input type="checkbox" asp-for="Donor" class="form-check-input" />
                <label class="form-check-label" asp-for="Donor">Remain Anonymous</label>
            </div>
            <br />
            <label asp-for="Donor" class="control-label">Donor Name</label>
            <input type="text" asp-for="Donor" class="form-control form-control-inline" />
            <span asp-validation-for="Donor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
